/*------------------------------------------------------------------
  	[Button]
------------------------------------------------------------------*/
.btn-theme {
    position: relative;
    display: inline-block;
    line-height: 1.4;
    text-align: center;
    background-image: none;
    border-style: solid;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .btn-theme:focus, .btn-theme:active:focus, .btn-theme.active:focus, .btn-theme.focus, .btn-theme:active.focus, .btn-theme.active.focus {
    outline: none;
  }
  
  .btn-theme:hover {
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  }
  
  .btn-theme:hover, .btn-theme:focus, .btn-theme.focus {
    text-decoration: none;
  }
  
  .btn-theme:active, .btn-theme.active {
    background-image: none;
    outline: 0;
  }
  
  .btn-theme.disabled, .btn-theme[disabled],
  fieldset[disabled] .btn-theme {
    cursor: not-allowed;
    box-shadow: none;
    opacity: .65;
    pointer-events: none;
  }
  
  .btn-white-brd {
    color: #fff;
    background: transparent;
    border-color: rgba(255, 255, 255, 0.3);
    border-width: 0.0625rem;
  }
  
  .btn-white-brd:hover, .btn-white-brd:focus, .btn-white-brd.focus {
    color: #515769;
    background: #fff;
    border-color: transparent;
  }
  
  .btn-default-bg {
    color: #515769;
    background: #f3f4f5;
    border-color: transparent;
    border-width: 0;
  }
  
  .btn-default-bg:hover, .btn-default-bg:focus, .btn-default-bg.focus {
    color: #fff;
    background: #0ba360;
    border-color: transparent;
  }
  
  .btn-base-bg {
    color: #fff;
    background: #0ba360;
    border-color: transparent;
    border-width: 0;
  }
  
  .btn-base-bg:hover, .btn-base-bg:focus, .btn-base-bg.focus {
    color: #0ba360;
    background: #e6e6e6;
    border-color: transparent;
  }
  
  .btn-theme-sm {
    font-size: 0.8125rem;
    font-weight: 600;
    padding: 0.9375rem 1.875rem;
  }
  